@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

* {
    font-family: Raleway, sans-serif;
}

body {
    margin: 0;
}

.nav-bar-about-main {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.about-body {
    margin: 120px 0px 0px 0px;
    width: 100%;
}

.img-about-wraper {
    display: flex;
}

.img-about-wraper img {
    width: 100%;
    margin: 0;
}

.img-about1-2 {
    position: fixed;
    width: 50%;
}