.nav-bar-about-main {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    z-index: 100;
}

.about-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: calc(120px + 1rem);
}

.images {
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-about1 {
    max-width: 50%;
}

.img-about2 {
    max-width: 50%;
}

.img-about1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-about2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    transform: translate(15%, 10%) scale(0.7);
} 

.img2 {
    transform: translateY(30%);
} 

.text1 {
    width: 100%;
    height: 100%;
    top: 3rem;
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.text1 p {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 75%);
} 

@media (min-width:450px) {
    .text1 p {
        width: 80%;
    }
}    

@media (min-width:808px) {
    .text1 p {
        width: 60%;
    }
}

/* .text-about-wrapper {
    width: 100%;
    padding: 0.5rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.text-about-wrapper p {
    width: 50%;
    text-align: justify;
}
 */